# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
.pnp.js

/frontend/.idea/
# testing
/coverage

/backend/.idea/
/backend/venv/
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/backend/venv
backend/__pycache__
backend/instance/
backend/instance/project.db
backend/src/__pycache__/functions.cpython-311.pyc
backend/src/instance/project.db
.gitignore
backend/src/__pycache__/database_models.cpython-311.pyc
