 .header {
    padding: 10px;
    text-align: center;
  }
  
  .layer-container {
    border: 1px white solid;
    border-radius: 10px;
    width: 40vw;
    margin: 100px auto;
    padding: 20px;
  }
  
  .layer {
    border: 1px grey solid;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
  }
  
  .input-layer {
    width: 100%;
  }
  
  .output-layer {
    border: 1px grey solid;
  }
  
  select,
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  
  select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .add-layer-button {
    color: white;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  .button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
  }
  
  .back-button {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .create-model-button,
  .insert-training-data-button,
  .preprocess-data-button {
    width: 180px;
    border: 1px white solid;
    border-radius: 10px;
    text-align: center;
    margin: 0 100px; 
    margin-left: auto;
    margin-right: auto;
  }