.create-account-form{
    max-width: 500px;
    margin: 50px auto;
    border: 1px white solid;
    border-radius: 10px;
}

.create-account-form input[type="text"]{
    width: 90%;
}

.input-field{
    margin: 20px;
}

.add-user-button{
    margin: 50px auto;
    width: 110px;
    height: 40px;
}