.header h1{
    display: inline;
}

.header{
    text-align: center;
    height: 50px;
    font-size: 20px;
}

.header button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 40px;
}

.delete-form{
    width: 500px;
    height: 10px;
    margin: 100px auto;
}

.delete-form input{
    width: 10%;
    margin-bottom: 10px;
}


.back-button{
    width: 60px;
    border: white solid 1px;
    text-align: center;
    margin: auto;
}

a{
    width: 100%;
    color:white;
    text-decoration: none;
}

.delete-button{
    width: 105px;
    margin: 20px auto;
}