.container-login{
    margin: 20vh auto;
    width: 30vw;
    border: 2px solid #ffffee;
    border-radius: 15px;
    box-shadow: 0 0 25px #5c5c2a;
    font-size: 24px;
    min-width: 400px;
    max-width: 700px;
}

.label-login, .input-login, .button-login{
    display: block;
}

.label-login, .input-login {
    width: 100%;
}

.label-login{
    margin-bottom: 10px;
}

.input-login {
    padding: 0.5em;
    background-color:#404040;
    color:#ffffff;
    border: none;
    font-size: 16px;
    font-family: inherit;
}

.button-login {
    width: 50%;
    background-color: #202020;
    color: #ffffff;
    padding: 0.5em;
    margin: 60px auto 0 auto;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ffffee;
    font-family: inherit;
    font-size: 19px;
}

.button-login:hover{
    cursor: pointer;
    filter:invert(10%);
}

.input-div{
   width: 60%;
   margin: 30px auto;
}