.header {
  text-align: center;
  height: 50px;
  font-size: 20px;
}

.file-input {
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  width: 20%;
  margin: 50px auto;
}

input[type="file"] {
  margin: 10px 0;
  border: none;
  padding: 10px;
  background-color: #1a1919;
  color: #fff; 
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.file-input input[type="file"]:hover {
  background-color: #333;

}

.file-input input[type="file"]:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #444;
}

.save-file-button-container{
  text-align: center;
  margin-bottom: 50px;
}

