.header {
  text-align: center;
  height: 50px;
  font-size: 20px;
}

.file-input {
  margin: 20px;
  padding: 15px;
  border: white solid 1px;
  border-radius: 5px;
}

input[type="file"] {
  margin-bottom: 10px;
}

.back-button {
  width: 60px;
  border: white solid 1px;
  text-align: center;
  margin: auto;
}

a {
  width: 100%;
  color:white;
  text-decoration: none;
}