.main-page-container{
    margin: 70px auto 0 auto;
    display: grid;
    background-color: white;
    gap: 1px;
}

.tile {
    background-color: #1a1919;;
    height: 100%;
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    max-width: 300px;
    max-height: 300px;
}

.main-page-link {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
}

.main-page-link:hover {
    background-color:#212121
}

.main-page-link p {
    margin:0;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color:white;
    font-size: 25px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.grid-1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 300px;
    height: 300px;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width:600px;
    height:300px;
    margin-top: 200px;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 900px;
    height: 300px;
    margin-top: 200px;
}

.grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 600px;
    width: 600px;
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
    width: 1250px;
    height: 250px;
}

.grid-6 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 900px;
    height: 600px;
}

.grid-7 {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}